<!DOCTYPE html>
<html lang="en">

<head>

 
 
<meta charset="UTF-8" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="applicable-device" content="mobile" />
<meta name="renderer" content="webkit" />
<meta name="format-detection" content="telephone=no" />
<meta content="email=no" name="format-detection" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
               <!--
                                                               (0 0)
                                           +=============oOO====(_)================+
                                           |   Powered By wanhu - www.wanhu.com.cn |
                                           |   Tel:400-888-0035  020-85575672      |
                                           |   Creation:2026.08.25                 |
                                           |   ezEip v5.3.0(0649)                  |
                                           +==========================oOO==========+
                                                              |__|__|
                                                               || ||
                                                              ooO Ooo
                                        -->
                                        
<meta name="Author" content="万户网络设计制作" />
<title>HugeMed</title>
<meta name="keywords" content="hugemed, laryngoscope, ureterorenoscope, bronchoscope, cystoscope, endoscope, choledochoscope, cholangioscope, rhinolaryngoscope, gastroscope, duodenoscope, single-use endoscope, disposible endoscope." />
<meta name="description" content="Shenzhen HugeMed Medical Technical Development Co., Ltd. specializes in the research, development, and manufacturing of medical equipment, particularly endoscopes. Established in 2014, the company offers reusable and single-use endoscopes, veterinary endoscopes, and related accessories. HugeMed's products are certified by CE, FDA, SFDA, and ISO13485 and are exported to over 80 countries. The company aims to be a leader in the single-use endoscope industry. Visit hugemed.net for more information." />

<link rel="stylesheet" type="text/css" href="/common/css/iconfont/iconfont.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/common/css/animate.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/common/css/swiper-bundle.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/common/css/css_whir.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/en/css/style_en.css" media="screen" />
<script src="/common/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/common/js/a.whir.search.js"></script>
<script src="/common/js/wow.js"></script>
<script src="/common/js/swiper-bundle.min.js"></script>
<script src="/common/js/global.js"></script>
<script src="/common/js/countUp.min.js"></script>
<script src="/common/js/jquery.waypoints.min.js"></script>
<script src="/common/js/index.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="/common/js/html5shiv.v3.72.min.js"></script>
<![endif]-->
<script type="text/javascript">
    var _syspath ='/';
    var UploadPath ='/uploadfiles/';
    var PersonalDataUrl ='/PersonalData/index.html';
    var siteid = '2';
    var IsLogin = false;
</script>
<script src="/Res/js/layer/layer.js"></script>
<script src="/Res/js/vue.js"></script>
<script src="/Res/js/DesEncode.js"></script>
<script src="/Res/js/util.js?v=0.747652939403268"></script>

</head>

<body>
     
 
<header id="topbox">
    <div id="topbar">
        <ul class="flex">
            <li>
                <a href='/ExhibitionOverview/list.html'>
                    Huge Moment
                </a>
            </li>
            <li>
                <a href='/AfterSales/index.html'>
                    Support
                </a>
            </li>
            <li>
                <a href='/Career/list.html'>
                    Career
                </a>
            </li>
            <li>
                <a href='/About/index.html'>
                    About
                </a>
            </li>
            <li>
                <a href='/Sustainability/index.aspx'>
                    Sustainability
                </a>
            </li>
            <li>
                <a href='/ContactUs/index.html'>
                    Contact
                </a>
            </li>
        </ul>
    </div>
    <div id="header">
        <h1 id="logo">
            <a href='/index.html'>
                
                    <i style="background-image: url(/uploadfiles/image/logo.png?bG9nby5wbmc=);" class="i1"></i>
                    <i style="background-image: url(/uploadfiles/image/logo2.png?bG9nbzIucG5n);" class="i2"></i>
                
            </a>
        </h1>
        <nav id="navi">
            <ul class="flex menu">
                
                    <li class="parent cur" id="navi9">
                        <a href='/Products/list_lcid_9.html' title='Airway Management' class="tit">Airway Management</a>
                        <div class="drop">
                            <div class="inner">
                                <ul>
                                    
                                        <li>
                                            <dl>
                                                <dt>
                                                    <div class="icon">
                                                        <img src="/uploadfiles/image/menu-icon1.png?bWVudS1pY29uMS5wbmc=" class="off" alt="">
                                                        <img src="/uploadfiles/image/menu-icon1_h.png?bWVudS1pY29uMV9oLnBuZw==" class="on" alt="">
                                                    </div>
                                                    <a href='/Products/list_lcid_12.html'>Blade Type</a>
                                                </dt>
                                                
                                                    <dd><a
                                                            href='/Products/AirwayManagement-BladeType-VL4REX.html'>VL4REX</a>
                                                    </dd>
                                                
                                                    <dd><a
                                                            href='/Products/AirwayManagement-BladeType-VL4DEX.html'>VL4DEX</a>
                                                    </dd>
                                                
                                                    <dd><a
                                                            href='/Products/AirwayManagement-BladeType-VL3RVL4R.html'>VL3R / VL4R</a>
                                                    </dd>
                                                
                                                    <dd><a
                                                            href='/Products/AirwayManagement-BladeType-VL3DVL4D.html'>VL3D / VL4D</a>
                                                    </dd>
                                                

                                            </dl>
                                        </li>
                                    
                                        <li>
                                            <dl>
                                                <dt>
                                                    <div class="icon">
                                                        <img src="/uploadfiles/2025/07/20250709170026966.png?572R56uZbG9nb1/nlLvmnb8gMSDlia/mnKwgNTQucG5n" class="off" alt="">
                                                        <img src="/uploadfiles/2025/07/20250709170030056.png?572R56uZbG9nb1/nlLvmnb8gMSDlia/mnKwgNDgucG5n" class="on" alt="">
                                                    </div>
                                                    <a href='/Products/list_lcid_11.html'>Flexible Type</a>
                                                </dt>
                                                
                                                    <dd><a
                                                            href='/Products/AirwayManagement-FlexibleType-VL3S.html'>VL3S</a>
                                                    </dd>
                                                
                                                    <dd><a
                                                            href='/Products/AirwayManagement-FlexibleType-SingleuseBronchoscope.html'>Single-use  Bronchoscope</a>
                                                    </dd>
                                                

                                            </dl>
                                        </li>
                                    
                                        <li>
                                            <dl>
                                                <dt>
                                                    <div class="icon">
                                                        <img src="/uploadfiles/image/menu-icon3.png?bWVudS1pY29uMy5wbmc=" class="off" alt="">
                                                        <img src="/uploadfiles/image/menu-icon3_h.png?bWVudS1pY29uM19oLnBuZw==" class="on" alt="">
                                                    </div>
                                                    <a href='/Products/list_lcid_10.html'>Stylet Type</a>
                                                </dt>
                                                
                                                    <dd><a
                                                            href='/Products/AirwayManagement-StyletType-VL3H.html'>VL3H</a>
                                                    </dd>
                                                

                                            </dl>
                                        </li>
                                    
                                    <!-- <li>
                                        <dl>
                                            <dt>
                                                <div class="icon">
                                                    <img src="/uploadfiles/image/index/top-icon9-b.png" class="off" alt="">
                                                    <img src="/uploadfiles/image/index/top-icon9-w.png" class="on" alt="">
                                                </div>
                                                <a >Accessories</a>
                                            </dt>
                                            <dd><a >Airway management tools</a></dd>
                                        </dl>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                    </li>
                
                    <li class="parent cur" id="navi8">
                        <a href='/Products/list_lcid_8.html' title='Single-use Endoscope' class="tit">Single-use Endoscope</a>
                        <div class="drop">
                            <div class="inner">
                                <ul>
                                    
                                        <li>
                                            <dl>
                                                <dt>
                                                    <div class="icon">
                                                        <img src="/uploadfiles/2026/01/20260106143634365.png?572R56uZbG9nb1/nlLvmnb8gMSDlia/mnKwgNjIucG5n" class="off" alt="">
                                                        <img src="/uploadfiles/2026/01/20260106143639517.png?572R56uZbG9nbzJf55S75p2/IDEg5Ymv5pysIDY0LnBuZw==" class="on" alt="">
                                                    </div>
                                                    <a href='/Products/list_lcid_58.html'>Gynecology</a>
                                                </dt>
                                                 

                                            </dl>
                                        </li>
                                    
                                        <li>
                                            <dl>
                                                <dt>
                                                    <div class="icon">
                                                        <img src="/uploadfiles/2024/06/20240624091238946.png?572R56uZbG9nb1/nlLvmnb8gMSDlia/mnKwgMjUucG5n" class="off" alt="">
                                                        <img src="/uploadfiles/2024/06/20240624091356609.png?572R56uZbG9nb1/nlLvmnb8gMSDlia/mnKwgMjgucG5n" class="on" alt="">
                                                    </div>
                                                    <a href='/Products/list_lcid_24.html'>E. N. T</a>
                                                </dt>
                                                
                                                    <dd><a
                                                            href='/Products/SingleUseEndoscope-ENT-SingleuseRhinolaryngoscope.html'>Single-use Rhinolaryngoscope</a>
                                                    </dd>
                                                

                                            </dl>
                                        </li>
                                    
                                        <li>
                                            <dl>
                                                <dt>
                                                    <div class="icon">
                                                        <img src="/uploadfiles/2025/03/20250305101911023.png?572R56uZbG9nb1/nlLvmnb8gMSDlia/mnKwgNDkucG5n" class="off" alt="">
                                                        <img src="/uploadfiles/2025/03/20250305101943656.png?572R56uZbG9nb1/nlLvmnb8gMSDlia/mnKwgNTAucG5n" class="on" alt="">
                                                    </div>
                                                    <a href='/Products/list_lcid_57.html'>Gastroenterology</a>
                                                </dt>
                                                
                                                    <dd><a
                                                            href='/Products/SingleUseEndoscope-Hepatology-SingleuseCholedochoscope.html'>Single-use Choledochoscope</a>
                                                    </dd>
                                                
                                                    <dd><a
                                                            href='/Products/SingleUseEndoscope-Gastroenterology-SingleuseDuodenoscope.html'>Single-use Duodenoscope</a>
                                                    </dd>
                                                

                                            </dl>
                                        </li>
                                    
                                        <li>
                                            <dl>
                                                <dt>
                                                    <div class="icon">
                                                        <img src="/uploadfiles/image/menu-icon6.png?bWVudS1pY29uNi5wbmc=" class="off" alt="">
                                                        <img src="/uploadfiles/image/menu-icon6_h.png?bWVudS1pY29uNl9oLnBuZw==" class="on" alt="">
                                                    </div>
                                                    <a href='/Products/list_lcid_22.html'>Pulmonology</a>
                                                </dt>
                                                
                                                    <dd><a
                                                            href='/Products/SingleUseEndoscope-Pulmonology-SingleuseBronchoscope.html'>Single-use Bronchoscope</a>
                                                    </dd>
                                                
                                                    <dd><a
                                                            href='/Products/SingleUseEndoscope-Pulmonology-SingleuseCollector.html'>Single-use Collector</a>
                                                    </dd>
                                                
                                                    <dd><a
                                                            href='/Products/SingleUseEndoscope-Pulmonology-BronchoSampler.html'>Broncho Sampler</a>
                                                    </dd>
                                                

                                            </dl>
                                        </li>
                                    
                                        <li>
                                            <dl>
                                                <dt>
                                                    <div class="icon">
                                                        <img src="/uploadfiles/image/menu-icon7.png?bWVudS1pY29uNy5wbmc=" class="off" alt="">
                                                        <img src="/uploadfiles/image/menu-icon7_h.png?bWVudS1pY29uN19oLnBuZw==" class="on" alt="">
                                                    </div>
                                                    <a href='/Products/list_lcid_21.html'>Urology</a>
                                                </dt>
                                                
                                                    <dd><a
                                                            href='/Products/SingleUseEndoscope-Urology-SingleuseUreterorenoscopeHU30M.html'>Single-use Ureterorenoscope HU30M（6.3/3.6Fr）</a>
                                                    </dd>
                                                
                                                    <dd><a
                                                            href='/Products/SingleUseEndoscope-Urology-SingleuseUreterorenoscope.html'>Single-use Ureterorenoscope</a>
                                                    </dd>
                                                
                                                    <dd><a
                                                            href='/Products/SingleUseEndoscope-Urology-SingleUseCystoscope.html'>Single-use Cystoscope</a>
                                                    </dd>
                                                
                                                    <dd><a
                                                            href='/Products/SingleUseEndoscope-Urology-SingleuseCystoNephroscope.html'>Single-Use Cysto-Nephroscope</a>
                                                    </dd>
                                                
                                                    <dd><a
                                                            href='/Products/SingleUseEndoscope-Urology-Single-useUreteralAccessSheath.html'>Single-use Ureteral Access Sheath</a>
                                                    </dd>
                                                
                                                    <dd><a
                                                            href='/Products/SingleUseEndoscope-Urology-SingleUseStentRemovalCystoscope.html'>Single-use Stent Removal Cystoscope</a>
                                                    </dd>
                                                
                                                    <dd><a
                                                            href='/Products/SingleUseEndoscope-Urology-SuctionPump.html'>Suction Pump</a>
                                                    </dd>
                                                

                                            </dl>
                                        </li>
                                    
                                    <!-- <li>
                                        <dl>
                                            <dt>
                                                <div class="icon">
                                                    <img src="/uploadfiles/image/index/top-icon9-b.png" class="off" alt="">
                                                    <img src="/uploadfiles/image/index/top-icon9-w.png" class="on" alt="">
                                                </div>
                                                <a >Accessories</a>
                                            </dt>
                                            <dd><a >Airway management tools</a></dd>
                                        </dl>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                    </li>
                
                    <li class="parent cur" id="navi7">
                        <a href='/Products/list_lcid_7.html' title='Reusable Endoscope' class="tit">Reusable Endoscope</a>
                        <div class="drop">
                            <div class="inner">
                                <ul>
                                    
                                        <li>
                                            <dl>
                                                <dt>
                                                    <div class="icon">
                                                        <img src="/uploadfiles/2024/06/20240624091709243.png?572R56uZbG9nb1/nlLvmnb8gMSDlia/mnKwgMjUucG5n" class="off" alt="">
                                                        <img src="/uploadfiles/2024/06/20240624091715551.png?572R56uZbG9nb1/nlLvmnb8gMSDlia/mnKwgMjgucG5n" class="on" alt="">
                                                    </div>
                                                    <a href='/Products/list_lcid_19.html'>E. N. T</a>
                                                </dt>
                                                
                                                    <dd><a
                                                            href='/Products/ReusableEndoscope-ENT-VideoLaryngoscope.html'>Video Laryngoscope</a>
                                                    </dd>
                                                

                                            </dl>
                                        </li>
                                    
                                        <li>
                                            <dl>
                                                <dt>
                                                    <div class="icon">
                                                        <img src="/uploadfiles/image/menu-icon7.png?bWVudS1pY29uNy5wbmc=" class="off" alt="">
                                                        <img src="/uploadfiles/image/menu-icon7_h.png?bWVudS1pY29uN19oLnBuZw==" class="on" alt="">
                                                    </div>
                                                    <a href='/Products/list_lcid_16.html'>Urology</a>
                                                </dt>
                                                
                                                    <dd><a
                                                            href='/Products/ReusableEndoscope-Urology-ReusableUreterorenoscopeHU32.html'>Reusable Ureterorenoscope</a>
                                                    </dd>
                                                

                                            </dl>
                                        </li>
                                    
                                    <!-- <li>
                                        <dl>
                                            <dt>
                                                <div class="icon">
                                                    <img src="/uploadfiles/image/index/top-icon9-b.png" class="off" alt="">
                                                    <img src="/uploadfiles/image/index/top-icon9-w.png" class="on" alt="">
                                                </div>
                                                <a >Accessories</a>
                                            </dt>
                                            <dd><a >Airway management tools</a></dd>
                                        </dl>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                    </li>
                
                    <li class="parent cur" id="navi6">
                        <a href='/Products/list_lcid_6.html' title='Medical Image Processor' class="tit">Medical Image Processor</a>
                        <div class="drop">
                            <div class="inner">
                                <ul>
                                    
                                        <li>
                                            <dl>
                                                <dt>
                                                    <div class="icon">
                                                        <img src="/uploadfiles/2024/06/20240624085614454.png?NC5wbmc=" class="off" alt="">
                                                        <img src="/uploadfiles/2024/06/20240624085628107.png?NS5wbmc=" class="on" alt="">
                                                    </div>
                                                    <a href='/Products/list_lcid_14.html'>Maneuverable</a>
                                                </dt>
                                                
                                                    <dd><a
                                                            href='/Products/MedicalImageProcessor-Maneuverable-MS8.html'>MS-8</a>
                                                    </dd>
                                                

                                            </dl>
                                        </li>
                                    
                                        <li>
                                            <dl>
                                                <dt>
                                                    <div class="icon">
                                                        <img src="/uploadfiles/2024/06/20240624085510408.png?MS5wbmc=" class="off" alt="">
                                                        <img src="/uploadfiles/2024/06/20240624085514227.png?Mi5wbmc=" class="on" alt="">
                                                    </div>
                                                    <a href='/Products/list_lcid_13.html'>Compact</a>
                                                </dt>
                                                
                                                    <dd><a
                                                            href='/Products/MedicalImageProcessor-Compact-HUV01.html'>HUV-01</a>
                                                    </dd>
                                                
                                                    <dd><a
                                                            href='/Products/MedicalImageProcessor-Compact-HUV02.html'>HUV-02</a>
                                                    </dd>
                                                

                                            </dl>
                                        </li>
                                    
                                    <!-- <li>
                                        <dl>
                                            <dt>
                                                <div class="icon">
                                                    <img src="/uploadfiles/image/index/top-icon9-b.png" class="off" alt="">
                                                    <img src="/uploadfiles/image/index/top-icon9-w.png" class="on" alt="">
                                                </div>
                                                <a >Accessories</a>
                                            </dt>
                                            <dd><a >Airway management tools</a></dd>
                                        </dl>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                    </li>
                

            </ul>
        </nav>
        <div id="button">
            <div class="flex box">
                <div id="login" class="btn">
                    <i></i>
                    <div class="modal" id="loginModal">
                        <div class="modal-content">
                            <a class="close-btn" id="closeLogin">&times;</a>
                            <h2>Log in</h2>
                            <form>
                                <ul>
                                    <li>
                                        <input type="email" id="txtEmail_login" autocomplete="off"
                                            placeholder="Please enter your email address.">
                                    </li>
                                    <li>
                                        <input type="password" id="txtPwd_login" autocomplete="off"
                                            placeholder="Please enter the password.">
                                    </li>
                                    <li><button type="button" id="loginSubmit" onclick="MemberLogin()">Log in</button>
                                    </li>
                                    <li class="links">
                                        <a href="#" id="registerLink" class="fl">
                                            No account yet? <span>
                                                Register now
                                            </span>
                                        </a>
                                        <a href="#" id="forgetrLink" class="fr">Forget the password</a>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <div class="modal" id="registerModal">
                        <div class="modal-content">
                            <a class="close-btn" id="closeRegister">&times;</a>
                            <h2>Register</h2>
                            <form>
                                <input type="text" id="txtName_reg" maxlength="80" autocomplete="off"
                                    placeholder="Please enter your name.">
                                <input type="text" id="txtCompanyName_reg" maxlength="300" autocomplete="off"
                                    placeholder="Please enter the company name">
                                <input type="email" id="txtEmail_reg" maxlength="50" autocomplete="off"
                                    placeholder="Please enter your email address">
                                <li>
                                    <input type="text" id="txtCode_reg" maxlength="6"
                                        placeholder="Enter email verification code">
                                    <a href="javascript:void(0);" id="getRegObtain" class="get"
                                        onclick="RegSendEmailCode()">Get Code</a>
                                    <a id="getRegObtain2" class="get" style="cursor:not-allowed;display:none">60s</a>
                                </li>
                                <input type="password" id="txtPwd_reg" maxlength="30" autocomplete="off"
                                    placeholder="Please enter the password">
                                <input type="password" id="txtRePwd_reg" maxlength="30" autocomplete="off"
                                    placeholder="Enter the password again">
                                <li>
                                    <input type="checkbox" id="chkAgree" class="checkbox" />
                                    <span class="label-text">I agree to the terms and conditions</span>
                                </li>
                                <button type="button" id="registerSubmit" onclick="MemberReg()">Register</button>
                                <li class="links">
                                    <div>
                                        <a href="#" id="loginLink1" class="fl">
                                            Already have an account? <span>
                                                Login immediately
                                            </span>
                                        </a>
                                    </div>
                                    <div><a href="#" id="forgetrLink1" class="forget">Forget the password</a></div>
                                </li>
                            </form>
                        </div>
                    </div>
                    <div class="modal" id="forgetrModal">
                        <div class="modal-content">
                            <span class="close-btn" id="closeForget">&times;</span>
                            <h2>Forget the password</h2>
                            <form>
                                <input type="text" id="txtEmail_forget" maxlength="50" autocomplete="off"
                                    placeholder="Please enter your email address." />
                                <li class="code">
                                    <div class="input-group">
                                        <input type="text" id="txtCode_forget" class="input-code" autocomplete="off"
                                            maxlength="6" placeholder="Email verification code" />
                                        <button id="getForgetObtain" class="button"
                                            onclick="ForgetSendEmailCode()">Obtain</button>
                                        <button id="getForgetObtain2" class="button" style="display:none"
                                            disabled>60s</button>
                                    </div>
                                </li>
                                <input type="password" id="txtPwd_forget" maxlength="30" autocomplete="off"
                                    placeholder="Please enter the password." />
                                <input type="password" id="txtRePwd_forget" maxlength="30" autocomplete="off"
                                    placeholder="Enter the password again" />
                                <button type="button" id="registerSubmit" onclick="MemberForgetPwd()">Modify</button>
                                <li class="links">
                                    <a href="#" id="loginLink2" class="fl">
                                        Already have an account? <span>
                                            Log in immediately
                                        </span>
                                    </a>
                                </li>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="search">
                    <span></span>
                    <div class="input">
                        <input type="text" class="text" id="topkey" value=""
                            placeholder="Enter keywords to search..." />
                        <a class="go"></a>
                        <script>
                            $("#search .go").jqSearch({
                                TxtVal: "Enter keywords to search!",
                                KeyTxt1: "Enter keywords to search!",
                                KeyTxt2: "Do not enter too many keywords!",
                                KeyTxt3: "There are special characters in the content you entered!",
                                KeyId: "topkey", //输入框id
                                KeyUrl: "/Search/list.html", //跳转链接
                                KeyHref: "key", //链接传值
                                Static: false //是否静态站
                            });
                        </script>
                    </div>
                </div>
                <div id="language">
                    <span>
                        <i>Global</i>
                    </span>
                    <ul>
                        <li>
     <a href="/cn/index.html">中文</a>
 </li>
 <li>
     <a href="/index.html">English</a>
 </li>
 <li>
     <a href="/es/index.html">Spanish-Español</a>
 </li>
 <li>
     <a href="/ru/index.html">Russian-Русский</a>
 </li>
 <li>
     <a href="/pt/index.html">Portuguese-Português</a>
 </li>
 <li>
     <a href="/jp/index.html">Japanese-日本語</a>
 </li>
 <li>
     <a href="/de/index.html">Germany-Deutsch</a>
 </li>
 <li>
     <a href="/ar/index.html">Arabic-العربية</a>
 </li>
 <li>
     <a href="/fr/index.html">French-Français</a>
 </li>
                    </ul>
                </div>
                <div id="navbtn">
                    <i></i>
                </div>
            </div>
        </div>
    </div>
</header>
<input type="hidden" id="MemberKeyId" value="" />
<script src="/en/js/top.js?v=0.465262993455521"></script>

           	
    <div class="cbanner">
        <img src="/uploadfiles/2024/11/20241121151229414.png?MjIucG5n" class="img-block pc"/>
        <img src="/uploadfiles/2024/11/20241121151618183.jpg?5pyq5qCH6aKYLTMuanBn" class="img-block wap"/>
        <div class="txt">
            <div class="inner">
                <div class="info pc"></div>
                <div class="info wap"></div>
            </div>
        </div>
    </div>

<div id="container">
       	<div class="Product_Detail">
    <div class="box1">
        <div class="inner">
            <div class="con">
                <div class="ptab">
                    <span>
                        <a href='/TrialApplication/index.html'>Trial</a>
                    </span>
                    
                    <span>
                        <a href="mailto:info@hugemed.net">Enquiry</a>
                    </span>
                    
                </div>
                <div class="tit2"></div>
                <div class="desc">
					
                </div>
            </div>
        </div>
    </div>


    

   
	

    
	
    <div class="download-list">
        <div class="tit3">Download Center</div>
        <div class="inner">
              <ul class="ul" v-for="row in list_category">
                 <ol>{{row.name}}</ol>
                    <li v-for="row2 in getDownList(row.id)"><a @click="downloadfile(row2)" style="cursor:pointer">{{row2.Name}}({{row2.FileSize}} - <span>{{row2.FileExt}}</span>)</a></li>
              </ul>
        </div>
    </div>
    <script>
        if($(".download-list ul").length==0){
            $(".download-list").hide();
        }
        $(".download-list ul").each(function(){
            var e=$(this).find("li").length
            if(e==0){
                $(this).hide();
            }
        })
    </script>
	
	

</div>
</div>
		
    

     
 
<footer id="footer">
    <div class="inner">

        <nav class="flex" id="menu">
            <dl>
                <dt><a href='/About/index.html'>About HugeMed</a></dt>
                
                    <dd>
                        <a href="/About/index.html#26">WHO WE ARE</a>
                    </dd>
                
                    <dd>
                        <a href="/About/index.html#29">What We Believe</a>
                    </dd>
                
                    <dd>
                        <a href="/About/index.html#31">Qualification</a>
                    </dd>
                
                    <dd>
                        <a href="/About/index.html#33">Milestone</a>
                    </dd>
                
            </dl>
            <dl id="application">
                <dt><a href='/ApplicationScenario/list.html'>Application Scenario</a></dt>
                
                    <dd><a href='/ApplicationScenario/info_itemid_507.html'>Emergency/out-of-hospital</a></dd>
                
                    <dd><a href='/ApplicationScenario/info_itemid_506.html'>Endoscopy Room</a></dd>
                
                    <dd><a href='/ApplicationScenario/info_itemid_505.html'>Intensive Care Unit</a></dd>
                
                    <dd><a href='/ApplicationScenario/info_itemid_504.html'>Out Patient Department</a></dd>
                
                    <dd><a href='/ApplicationScenario/info_itemid_503.html'>Operation Room</a></dd>
                
            </dl>
            <dl>
                <dt><a>Follow Us</a></dt>
                
                    <dd><a href='https://www.facebook.com/profile.php?id=61576895256794' target="_blank">Facebook</a></dd>
                
                    <dd><a href='https://www.linkedin.com/company/14591532/admin/' target="_blank">Linkedin</a></dd>
                
                    <dd><a href='https://x.com/ShenzhenHugeMed' target="_blank">Twitter</a></dd>
                
                    <dd><a href='https://www.youtube.com/channel/UCzf5Eo_gyk5QRsWixl3VgTw' target="_blank">Youtube</a></dd>
                
            </dl>
            <dl>
                <dt><a href='/AfterSales/index.html'>Support</a></dt>
                
                    <dd>
                        <a href='/AfterSales/index.html'>After Sales Application</a>
                    </dd>
                
                    <dd>
                        <a href='/ServicePurchase/index.html'>Service Purchase Application</a>
                    </dd>
                
                    <dd>
                        <a href='/TrialApplication/index.html'>Trial Application</a>
                    </dd>
                
            </dl>

        </nav>
        <div class="flex" id="social">
            <ul class="flex">
                
                    <li>
                        <a href='https://www.facebook.com/profile.php?id=100053757849304' target="_blank"><i class="fb"></i></a>
                    </li>
                    <li>
                        <a href='https://www.linkedin.com/company/14591532/admin/' target="_blank"><i class="in"></i></a>
                    </li>
                    <li>
                        <a href='https://x.com/ShenZhenHugeMed' target="_blank"><i class="tw"></i></a>
                    </li>
                    <li>
                        <a href='https://www.youtube.com/channel/UCzf5Eo_gyk5QRsWixl3VgTw' target="_blank"><i class="yt"></i></a>
                    </li>
                
            </ul>
        </div>

        <div class="flex" id="bottom">
            <div id="pagelist">
                <ul class="flex">
                    
                        <li><a href='/SiteMap/index.html'>Website Map</a></li>
                    
                        <li><a href='/LegalNotice/index.html'>Legal Notice</a></li>
                    
                        <li><a href='/Links/list.html'>Friendship Link</a></li>
                    
                        <li><a href='/PrivacyPolicy/index.aspx'>Privacy Policy</a></li>
                    

                </ul>
            </div>
            <div id="copyright">
                Copyright 2021 Shenzhen HugeMed Medical Technical Development Co., Ltd. all rights reserved <a href="">ICP证0301</a>
            </div>
        </div>
    </div>
</footer>

<script>
    var html = $("#application dd:first").find("a").prop("href")
    $("#application dt a").prop("href", html)
</script>


	<input type="hidden" id="ProId" value='1705' />
	<script src="/en/js/Product.info.js?v=0.911273226566274"></script>
</body>

</html>
